*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #ECEFF1;
}

.App {
  width: 100%;
  max-width: 900px;
  margin: 4.4em auto;
  padding-bottom: 4.4rem;
  border-radius: .35em;
  background: #f0efef;
  overflow: hidden;
  -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .13);
  box-shadow: 0 0 26px rgba(0, 0, 0, .13);
}

.nav ul a {
  font-size: 1.6rem !important;
}

.nav .brand-logo {
  font-size: 2.4rem;
}

hr {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

.name-fields {
  display: flex;
  justify-content: center;
}

.spacer {
  margin-right: 0.4rem;
}

.header {
  background-color: #7c4dff;
  padding: 4.8rem 0 12.6rem 0;
  color: #f5f5f5;
  margin-bottom: 2.4rem;
}

.profile-picture {
  margin-top: -10rem;
}

.circle{ 
  background-color: #311b92;
  padding: 0.6rem;
}

.name {
  margin-top: 1.2rem;
  font-size: 2.6rem;
}

.dividing-line {
  background-color: #311b92;
  height: 0.6rem;
}

.highlight {
  padding: 0 1.2rem 0 1.2rem;
}

.highlight:hover {
  background-color: rgba(124, 77, 255, 0.2);
  padding: 0 1.2rem 0 1.2rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.dashboard  {
  -webkit-box-shadow: 0 0 26px rgba(49, 27, 146, .13);
  box-shadow: 0 0 26px rgba(49, 27, 146, .13);
  border: 1px solid rgba(49, 27, 146, 0.1);
  margin-top: 1.2rem;
  width: fit-content;
  color: #311b92;
  display: flex;
  border-radius: 5px;
}

.button-holder {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  height: 100%; 
  padding: 1.2rem;
}

.button-holder:hover {
  margin-left: 1.2rem;
  margin-right: 1.2rem; 
  background-color: rgba(124, 77, 255, 0.2);
  padding: 1.2rem;
}

.page-footer {
  background-color: #7c4dff;
  padding: 4.8rem 0 12.6rem 0;
  color: #f5f5f5;
  padding-bottom: 0;
  margin-top: 6.8rem;
  margin-bottom: -4.6rem;
}

.page-footer .dividing-line {
  margin-top: -5.2rem;
  margin-bottom: 1.2rem;
}

.heading .dividing-line {
  margin-top: -2.4rem;
  margin-bottom: 1.2rem;
}


